
<form *ngIf="this.gui.currentBox !== undefined">
  <label for="Height">Height</label>
  <input class="input" type="number" id="Height" name="Height" [(ngModel)]="this.gui.currentBox!.height">

  <label for="Width">Width</label>
  <input class="input" type="number" name="Width" id="Width" [(ngModel)]="this.gui.currentBox!.width">

  <label for="Depth">Depth</label>
  <input class="input" type="number" id="Depth" name="Depth"  [(ngModel)]="this.gui.currentBox!.depth">

  <label for="Thickness">Thickness</label>
  <input class="input" type="number" id="Thickness" name="Thickness" [(ngModel)]="this.gui.currentBox!.thickness">

  <label for="Weight">Weight</label>
  <input class="input" type="number" id="Weight" name="Weight" [(ngModel)]="this.gui.currentBox!.weight">

  <label for="textarea">Description</label>
  <textarea class="input" id="textarea" name="desc" (change)="doTextareaValueChange($event)" [value]="this.gui.currentBox!.description"></textarea>

  <label for="form-url">image url</label>
  <input class="input" name="image-url" id="form-url" type="url" [(ngModel)]="this.gui.currentBox!.imageUrl" />

  <br>
  <button type="submit" (click)="onSave()">Update current box</button>
</form>

