
#box-image
{
  width: 100%;
  max-width: 200pt;
  height: auto;
}

#box-info
{
  margin: 5em;
}

#info-line
{
  display: block;
  text-align: justify;
  position: relative;
  margin-bottom: 0.5em;
  margin-right: 5em;
}

#prop-title
{
  font-size: 1.2em;
  font-weight: bold;
}

#prop-content
{
  font-size: 1.1em;
  font-weight: normal;
}
